* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
  min-height: 100vh;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}


.App-header {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
